@media screen and (max-width:1200px) {
    #container {
        width: 200px;
        height: 200px;
    }
}
@media screen and (max-width:800px) {
    #container {
        width: 150px;
        height: 150px;
    }
}



